{# Here we set a dictionary of jobs used for FFSL transport tests. #}
{# These can then be imported into the main rose stem groups as required #}

{%- set ffsl_suite_groups = {
'ffsl-horizontal-sbr-suite':[
    'run_application("transport", "sbr_gaussian_pole_ffsl",
                     resolutions=[("C24", 8100.0), ("C48", 4050.0), ("C96", 2025.0)],
                     env={"crun": 1,
                          "nrun":{("C24", 8100.0): 128, ("C48", 4050.0): 256, ("C96", 2025.0): 512},
                          "directives":{"default":{"mpi_parts":6,"threads":1,"wallclock":"01:00:00" } } },
                     checkkgo=False)',
    'run_application("transport", "sbr_gaussian_equator_ffsl",
                     resolutions=[("C24", 8100.0), ("C48", 4050.0), ("C96", 2025.0)],
                     env={"crun": 1,
                          "nrun":{("C24", 8100.0): 128, ("C48", 4050.0): 256, ("C96", 2025.0): 512},
                          "directives": {"default":{"mpi_parts":6,"threads":1,"wallclock":"01:00:00" } } },
                     checkkgo=False)',
    'run_application("transport", "sbr_gaussian_corner_ffsl",
                     resolutions=[("C24", 8100.0), ("C48", 4050.0), ("C96", 2025.0)],
                     env={"crun": 1,
                          "nrun":{("C24", 8100.0): 128, ("C48", 4050.0): 256, ("C96", 2025.0): 512},
                          "directives":{"default":{"mpi_parts":6,"threads":1,"wallclock":"01:00:00" } } },
                     checkkgo=False)'
],
'ffsl-additional-tests':[
    'run_application("transport", "constant_wind_xy_ffsl",
                     resolutions=[("BiP40x40-5x5",1.0)],
                     env={"nrun":100},
                     plotstr="slices.py ' + appDiagStemName + ' $NODAL_DATA_DIR rho T000000:T000020:T000040:T000060:T000080:T000100 -1 -91 0 $PLOT_DIR",
                     checkkgo=False )',
    'run_application("transport", "deformation_yz_ffsl",
                     resolutions=[("BiP16x100-2x2",1.0)],
                     env={"nrun":120,
                          "directives":{"default":{"mpi_parts":4} } },
                     plotstr="slices.py ' + appDiagStemName + ' $NODAL_DATA_DIR rho T000000:T000030:T000060:T000090:T000120 0 -100 -100 $PLOT_DIR",
                     checkkgo=False )',
    'run_application("transport", "deformation_2d_ffsl",
                     resolutions=[("C32",0.01)],
                     env={"nrun":500,
                          "directives":{"default":{"mpi_parts":6} } },
                     plotstr="slices.py ' + appDiagStemName + ' $NODAL_DATA_DIR rho T000000:T000100:T000200:T000250:T000300:T000400:T000500 -1 -91 0 $PLOT_DIR",
                     checkkgo=False )'
]
} %}

{# If we want to run all the tests in one go, then collect them into a single group... #}
{% if 'ffsl_suite-all' not in ffsl_suite_groups.keys() %}
{%   do ffsl_suite_groups.update({'ffsl_suite-all':[]}) %}
{% endif %}
{% for ffsl_suite_subgroup in ffsl_suite_groups.keys() %}
{%   if ffsl_suite_subgroup != 'ffsl_suite-all' %}
{%     do ffsl_suite_groups['ffsl_suite-all'].extend(ffsl_suite_groups[ffsl_suite_subgroup]) %}
{%   endif %}
{% endfor %}
