{#- ######################################################################## #}
{#- MACROS                                                                   #}
{#- ######################################################################## #}

{%- macro check_compilers( build, publish=False ) %}
{%-   for compiler in compiler_setup.keys() %}
{%-     set label = compiler | lower + '_' + build | lower%}
    purge_local  => purge_target
    purge_target => export_source
{%-     if compiler in TARGET_PERFORM_UNIT_TESTS %}
    export_source => unit_test_with_{{label}}
{%-     endif %}
{%-     if compiler in TARGET_PERFORM_INTEGRATION_TESTS %}
    export_source => integration_test_with_{{label}}
{%-     endif %}
{%-   endfor %}
{%- endmacro %}



{#- #########################################################################}
{%- macro documentation( publish=False ) %}
{%-   set label =  TARGET_TECHNICAL_COMPILER | lower + '_fast-debug' %}
{%-   if 'documentation' in TECHNICAL_DEVELOPER_TESTS %}
            purge_local   => purge_target
            purge_target  => export_source
            export_source => api_documentation
            export_source => uml_documentation
{%-     if publish %}
            uml_documentation => publish_uml_documentation
            api_documentation => publish_api_documentation
            api_documentation => publish_api_log
{%-     endif %}
{%-   endif %}
{%- endmacro %}



{#- #########################################################################}
{%- macro build_system() %}
{%-   set label =  TARGET_TECHNICAL_COMPILER | lower + '_fast-debug' %}
            purge_local   => purge_target
            purge_target  => export_source
            export_source => unit_test_build_tools
{%- endmacro %}



{#- #########################################################################}
{%- macro publish_commit() %}
            purge_target => publish_nothing
            PUBLISH:finish-all => publish_index
            publish_index      => mirror_results_local
{%-   if MIRROR_UPLOAD_URL %}
            publish_index      => mirror_results_remote
{%-   endif %}
{%- endmacro %}



{#- #########################################################################}
{%- macro schedule() %}
{%-   for group in groupsToRun %}
{%-     if group in groups.keys() %}
{%-       for mission in groups[group] %}
{{          mission | executeMacro() }}
{%-       endfor %}
{%-     endif %}
{%-   endfor %}
{%- endmacro %}



{#- #########################################################################}
{% macro ensureDestination() -%}
  mkdir -p $DESTINATION
{%- endmacro %}



{#- #########################################################################}
{% macro deleteDirectory( directory ) -%}
  test -w "{{directory}}" -o ! -e "{{directory}}" && rm -rf {{directory}} || ( echo ** Unable to delete "{{directory}}", not writable >&2; false )
{%- endmacro %}
