{# Set up scintelapi specific runtime tasks #}

{% if include_mode == "graph" %}

                fcm_make-scintelapi-{{build}} => \
                configurate-scintelapi-{{build}} => \
                psyclone-scintelapi-{{build}} => \
                fcm_make2-scintelapi-{{build}}

  {% if "crayftn" not in build %}
                fcm_make2-scintelapi-{{build}} => \
                scintelapi-{{build}}-{{config}} => \
                rose_ana-scintelapi-{{build}}-{{config}}
  {% endif %}

{% endif %}

{% if include_mode == "runtime" %}

  {% set util_name = "scintelapi" %}
  {% include "templates/template_builds.rc" %}

    [[scintelapi-{{build}}-{{config}}]]
        inherit = {{build_family}}, {{queue_fam}}, METO_{{platform_fam}}_{{num_tasks}}_TASKS, {{platform_fam}}
        env-script = "eval $(rose task-env)"
        script = "{{TASK_RUN}} --path= --path='share/fcm_make-scintelapi-{{build}}/build/bin'"
	post-script = """
                      find . -regex '.*PET0+\..+\.Log' -exec cp {} $ROSE_TASK_LOG_DIR \;
                      find . -regex '.*PET0+\..+\.Log' -exec cat {} \;
                      """
        [[[environment]]]
            ROSE_TASK_APP = {{scintelapi_configs[config]["app"]}}
            ROSE_APP_OPT_CONF_KEYS = {{scintelapi_configs[config]["opt_config"]}}
            NUMBER_OF_LAYERS = {{scintelapi_configs[config]["source_grid_levs"]}}
            SOURCE_DUMP = {{scintelapi_configs[config]["source_dump"]}}
            TARGET_GRID_RES = {{scintelapi_configs[config]["target_grid_res"]}}
            LFRIC_MESH_FILE = {{scintelapi_configs[config]["lfric_mesh"]["file"]}}
            LFRIC_MESH_NAME = {{scintelapi_configs[config]["lfric_mesh"]["name"]}}

    {% set task_name = "scintelapi-" + build + "-" + config %}
    [[rose_ana-scintelapi-{{build}}-{{config}}]]
        inherit = {{rose_ana_family}}, METO_{{platform_fam}}_1_TASKS, {{platform_fam}}
        [[[environment]]]
            SUITE_DIR=../scintelapi-{{build}}-{{config}}
            KGO_DIR={{kgo_dir_base}}/{{task_name}}/{{KGO_DIRS[task_name]|default("no_kgo_var")}}
            ROSE_TASK_APP=rose_ana_scintelapi

{% endif %}
