{# Here we set a dictionary of jobs used in exoplanets development. #}
{# These can then be imported into the main rose stem groups as required. #}
{# For information on how to run these jobs please see: #}
{# https://code.metoffice.gov.uk/trac/lfric/wiki/GungHo/RoseStemCsarFunctionality #}

{%- set exoplanets_groups = {
        'exo-hs':['run_application("gungho_model", "held-suarez",
                                   resolutions=[("C24_MG",3600.0),("C48_MG",1800.0)],
                                   checkkgo=False,
                                   env={"crun":30,
                                        "nrun": {("C24_MG",3600.0):720,
                                                 ("C48_MG",1800.0):1440},
                                        "directives":{"default":{"mpi_parts":54,
                                                                 "threads":1,
                                                                 "wallclock":"00:10:00"},
                                                       "C48_MG":{"mpi_parts":216,
                                                                 "threads":1,
                                                                 "wallclock":"00:10:00"} } },
                                   plotstr="plot_zonal.py $NODAL_DATA_DIR/lfric_averages.nc $PLOT_DIR held-suarez dcmip 30 31",
                                   publish=True
                                  )'
                 ],
        'exo-el':['run_application("gungho_model", "earth-like",
                                   resolutions=[("C24_MG",3600.0),("C48_MG",1800.0)],
                                   checkkgo=False,
                                   env={"crun":40,
                                        "nrun": {("C24_MG",3600.0):720,
                                                 ("C48_MG",1800.0):1440},
                                        "directives":{"default":{"mpi_parts":54,
                                                                 "threads":1,
                                                                 "wallclock":"00:10:00"},
                                                        "C48_MG":{"mpi_parts":216,
                                                                 "threads":1,
                                                                 "wallclock":"00:10:00"} } },
                                   plotstr="plot_zonal.py $NODAL_DATA_DIR/lfric_averages.nc $PLOT_DIR earth-like uniform 32 33",
                                   publish=True
                                  )'
                 ],
        'exo-tle':['run_application("gungho_model", "tidally-locked-earth",
                                    resolutions=[("C24_MG",3600.0),("C48_MG",1800.0)],
                                    checkkgo=False,
                                    env={"crun": 40,
                                        "nrun": {("C24_MG",3600.0):720,
                                                 ("C48_MG",1800.0):1440},
                                        "directives":{"default":{"mpi_parts":54,
                                                                 "threads":1,
                                                                 "wallclock":"00:10:00"},
                                                        "C48_MG":{"mpi_parts":216,
                                                                 "threads":1,
                                                                 "wallclock":"00:10:00"} } },
                                   plotstr="plot_zonal.py $NODAL_DATA_DIR/lfric_averages.nc $PLOT_DIR tidally-locked-earth uniform 32 33",
                                   publish=False
                                  )'
                 ],
         'exo-shj':['run_application("gungho_model", "shallow-hot-jupiter",
                                     resolutions=[("C24_MG",2400.0),("C48_MG",1200.0)],
                                     checkkgo=False,
                                     env={"crun":40,
                                         "nrun": {("C24_MG",2400.0):1080,
                                                  ("C48_MG",1200.0):2160},
                                         "directives":{"default":{"mpi_parts":54,
                                                                  "threads":1,
                                                                  "wallclock":"00:10:00"},
                                                         "C48_MG":{"mpi_parts":216,
                                                                  "threads":1,
                                                                  "wallclock":"00:20:00"} } },
                                    plotstr="plot_zonal.py $NODAL_DATA_DIR/lfric_averages.nc $PLOT_DIR shallow-hot-jupiter uniform 32 33",
                                    publish=True
                                   )'
                 ],
         'exo-dhj':['run_application("gungho_model", "deep-hot-jupiter",
                                     resolutions=[("C24_MG",30.0),("C48_MG",30.0)],
                                     checkkgo=False,
                                     env={"crun":2,
                                         "nrun": {("C24_MG",30.0):1440,
                                                  ("C48_MG",30.0):1440},
                                         "directives":{"default":{"mpi_parts":54,
                                                                  "threads":1,
                                                                  "wallclock":"03:00:00"},
                                                         "C48_MG":{"mpi_parts":216,
                                                                  "threads":1,
                                                                  "wallclock":"03:00:00"} } },
                                    plotstr="plot_zonal.py $NODAL_DATA_DIR/lfric_averages.nc $PLOT_DIR deep-hot-jupiter uniform 32 33",
                                    publish=True
                                   )'
                 ],
}
%}

{# If we want to run all the tests in one go, then collect them into a single group... #}
{% if 'exoplanets-all' not in exoplanets_groups.keys() %}
{%   do exoplanets_groups.update({'exoplanets-all':[]}) %}
{% endif %}
{% for exoplanets_subgroup in exoplanets_groups.keys() %}
{%   if exoplanets_subgroup != 'exoplanets-all' %}
{%     do exoplanets_groups['exoplanets-all'].extend(exoplanets_groups[exoplanets_subgroup]) %}
{%   endif %}
{% endfor %}
